In [1]:
import pandas as pd
import numpy as np
import bs4
import requests
from shapely.geometry import Point
import geopandas as gpd
import warnings

def data_adquisition_json(url):
    response_df = requests.get(url).json()
    response_df.keys()
    res_df = pd.json_normalize(response_df["@graph"])
    return res_df

#main
url1 = "https://datos.madrid.es/egob/catalogo/202318-0-escuelas-infantiles.json"
url2 = "https://datos.madrid.es/egob/catalogo/202311-0-colegios-publicos.json"  
warnings.filterwarnings('ignore')

In [2]:
df1 = data_adquisition_json(url1)
display(df1)

,@id,@type,id,title,relation,address.district.@id,address.area.@id,address.locality,address.postal-code,address.street-address,location.latitude,location.longitude,organization.organization-desc,organization.accesibility,organization.schedule,organization.services,organization.organization-name
0,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,58241,Escuela infantil municipal Agua Dulce,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28039,CALLE LEÑEROS 25,40.454061,-3.709371,ENSEÑANZA: Educación Infantil (Primer Ciclo) ...,0,,Horario ampliado. Comedor.,Escuela infantil municipal Agua Dulce
1,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,4549323,Escuela infantil municipal Altair,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28044,CALLE JOSE DE CADALSO 43,40.378132,-3.768701,ENSEÑANZA: Educación infantil (Primer ciclo) ...,0,,,Escuela infantil municipal Altair
2,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,5299172,Escuela infantil municipal Amanecer,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28032,CALLE TITANIO 7,40.401990,-3.601044,ENSEÑANZA: Educación infantil (Primer Ciclo)....,0,,,Escuela infantil municipal Amanecer
3,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,5633312,Escuela infantil municipal Ana de Austria,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28050,CALLE ANA DE AUSTRIA 32,40.495522,-3.655737,ENSEÑANZA: Educación infantil (Primer ciclo) ...,0,,Educación de 0 a 3 años,Escuela infantil municipal Ana de Austria
4,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,4724002,Escuela infantil municipal Campanilla,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28020,CALLE AVILA 4,40.452700,-3.701998,ENSEÑANZA: Educación infantil (Primer Ciclo) ...,0,,,Escuela infantil municipal Campanilla
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,187607,Escuela infantil municipal Osa Menor,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28004,CALLE MEJIA LEQUERICA 21,40.428040,-3.699502,ENSEÑANZA: Educación Infantil (primer ciclo) ...,0,,Horario ampliado Comedor,Escuela infantil municipal Osa Menor
57,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,11508438,Escuela infantil municipal Parque de Ingenieros,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28041,CALLE LA TABERNERA DEL PUERTO 26,40.355056,-3.704144,ENSEÑANZA: Educación infantil (Primer Ciclo) ...,0,,Horario ampliado. Comedor.,Escuela infantil municipal Parque de Ingenieros
58,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,88758,Escuela infantil municipal Ruiz Jiménez,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28028,CALLE JOSE PICON 17,40.435093,-3.672375,ENSEÑANZA: Educación Infantil (Primer ciclo) ...,0,,Horario ampliado. Comedor.,Escuela infantil municipal Ruiz Jiménez
59,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,168220,Escuela infantil municipal Tarabilla,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28017,CALLE GANDHI 14,40.423692,-3.634964,ENSEÑANZA: Educación Infantil (Primer ciclo) ...,0,,Horario ampliado. Comedor.,Escuela infantil municipal Tarabilla
60,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,4552561,Escuela infantil municipal VeoVeo,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28027,CALLE CONDESA DE VENADITO 3,40.444110,-3.655331,ENSEÑANZA: Educación Infantil (Primer Ciclo) ...,0,,Horario ampliado - Comedor,Escuela infantil municipal VeoVeo

In [3]:
df2 = data_adquisition_json(url2)
display(df2)

,@id,@type,id,title,relation,address.district.@id,address.area.@id,address.locality,address.postal-code,address.street-address,location.latitude,location.longitude,organization.organization-desc,organization.accesibility,organization.schedule,organization.services,organization.organization-name
0,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,176850,Colegio Público Adolfo Suárez,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28050,CALLE INFANTA CATALINA MICAELA 31,40.488603,-3.652554,ENSEÑANZAS: Segundo ciclo de E. Infantil - Pr...,0,,Comedor - Horario ampliado - Planes de mejora.,Colegio Público Adolfo Suárez
1,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,5075,Colegio Público Agustina Díez,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28038,CALLE VESUBIO 5,40.388191,-3.647237,ENSEÑANZA: Educación infantil - Primaria METR...,0,,Comedor - Horario ampliado,Colegio Público Agustina Díez
2,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,4693138,Colegio Público Agustín Rodriguez Sahagún,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28031,CALLE LA GRANJA DE SAN ILDEFONSO 17,40.368040,-3.622168,ENSEÑANZA: Educacion Infantil - Primaria - En...,0,,Horario ampliado - Comedor - Planes de mejora,Colegio Público Agustín Rodriguez Sahagún
3,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,5076,Colegio Público Alberto Alcocer,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28022,AVENIDA CANILLEJAS A VICALVARO 56,40.433338,-3.612052,ENSEÑANZA: Educación Infantil - Primaria - En...,0,,Comedor - Transporte - Horario ampliado - Plan...,Colegio Público Alberto Alcocer
4,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,5077,Colegio Público Alcalde de Móstoles,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28044,CALLE ALDEANUEVA DE LA VERA 9,40.379837,-3.776448,ENSEÑANZA: Educación Infantil - Primaria BUS:...,0,,Transporte - Comedor - Horario ampliado - Plan...,Colegio Público Alcalde de Móstoles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,5326,Colegio Público Virgen del Cortijo,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28050,AVENIDA MANOTERAS 63,40.487254,-3.660022,ENSEÑANZA: Educación Infantil - Primaria - En...,0,,Comedor - Transporte - Horario ampliado - Inte...,Colegio Público Virgen del Cortijo
244,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,5319,Colegio Público Vázquez de Mella,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28005,CALLE BAILEN 18,40.412095,-3.713999,ENSEÑANZA: Educación Infantil - Primaria METR...,0,,Comedor - Horario ampliado - Planes de mejora,Colegio Público Vázquez de Mella
245,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,4690940,Colegio Público Winston Churchill,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28032,AVENIDA GRAN VIA DEL ESTE 5,40.402966,-3.595314,ENSEÑANZA: Educación infantil - Primaria Bus:...,0,,Horario ampliado - Comedor,Colegio Público Winston Churchill
246,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,5096,Colegio Público de Practicas Asunción Rincón,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28003,AVENIDA FILIPINAS 5,40.439916,-3.710968,ENSEÑANZA: Educación Infantil - Primaria - En...,0,,Comedor - Horario ampliado - Planes de mejora,Colegio Público de Practicas Asunción Rincón
247,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,4690849,Colegio Público Álvaro de Bazan,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28022,CALLE ZURICH 10,40.421543,-3.607242,ENSEÑANZA: Educación infantil - Primaria Bus:...,0,,Horario ampliado - Comedor - Integración prefe...,Colegio Público Álvaro de Bazan

In [4]:
def concatenate_databases(df1,df2):
    concatenated_df = pd.concat([df1, df2])
    places_of_interest_df = concatenated_df.loc[:,['id','title','address.locality','address.postal-code','address.street-address','location.latitude','location.longitude']]
    return places_of_interest_df

In [5]:
concatenated_df = concatenate_databases(df1,df2)
display(concatenated_df)

,id,title,address.locality,address.postal-code,address.street-address,location.latitude,location.longitude
0,58241,Escuela infantil municipal Agua Dulce,MADRID,28039,CALLE LEÑEROS 25,40.454061,-3.709371
1,4549323,Escuela infantil municipal Altair,MADRID,28044,CALLE JOSE DE CADALSO 43,40.378132,-3.768701
2,5299172,Escuela infantil municipal Amanecer,MADRID,28032,CALLE TITANIO 7,40.401990,-3.601044
3,5633312,Escuela infantil municipal Ana de Austria,MADRID,28050,CALLE ANA DE AUSTRIA 32,40.495522,-3.655737
4,4724002,Escuela infantil municipal Campanilla,MADRID,28020,CALLE AVILA 4,40.452700,-3.701998
...,...,...,...,...,...,...,...
243,5326,Colegio Público Virgen del Cortijo,MADRID,28050,AVENIDA MANOTERAS 63,40.487254,-3.660022
244,5319,Colegio Público Vázquez de Mella,MADRID,28005,CALLE BAILEN 18,40.412095,-3.713999
245,4690940,Colegio Público Winston Churchill,MADRID,28032,AVENIDA GRAN VIA DEL ESTE 5,40.402966,-3.595314
246,5096,Colegio Público de Practicas Asunción Rincón,MADRID,28003,AVENIDA FILIPINAS 5,40.439916,-3.710968
247,4690849,Colegio Público Álvaro de Bazan,MADRID,28022,CALLE ZURICH 10,40.421543,-3.607242

In [6]:
def add_key_column (df):
    df['key'] = int(1)
    return df['key']

In [7]:
add_key_column(concatenated_df)
display (concatenated_df)

,id,title,address.locality,address.postal-code,address.street-address,location.latitude,location.longitude,key
0,58241,Escuela infantil municipal Agua Dulce,MADRID,28039,CALLE LEÑEROS 25,40.454061,-3.709371,1
1,4549323,Escuela infantil municipal Altair,MADRID,28044,CALLE JOSE DE CADALSO 43,40.378132,-3.768701,1
2,5299172,Escuela infantil municipal Amanecer,MADRID,28032,CALLE TITANIO 7,40.401990,-3.601044,1
3,5633312,Escuela infantil municipal Ana de Austria,MADRID,28050,CALLE ANA DE AUSTRIA 32,40.495522,-3.655737,1
4,4724002,Escuela infantil municipal Campanilla,MADRID,28020,CALLE AVILA 4,40.452700,-3.701998,1
...,...,...,...,...,...,...,...,...
243,5326,Colegio Público Virgen del Cortijo,MADRID,28050,AVENIDA MANOTERAS 63,40.487254,-3.660022,1
244,5319,Colegio Público Vázquez de Mella,MADRID,28005,CALLE BAILEN 18,40.412095,-3.713999,1
245,4690940,Colegio Público Winston Churchill,MADRID,28032,AVENIDA GRAN VIA DEL ESTE 5,40.402966,-3.595314,1
246,5096,Colegio Público de Practicas Asunción Rincón,MADRID,28003,AVENIDA FILIPINAS 5,40.439916,-3.710968,1
247,4690849,Colegio Público Álvaro de Bazan,MADRID,28022,CALLE ZURICH 10,40.421543,-3.607242,1

In [9]:
def data_adquisition_csv(path):
    bicimad_original_df = pd.read_csv(path)
    bicimad_df = bicimad_original_df.loc[:,['id','name','address','dock_bikes','free_bases','geometry_coordinates']]
    return bicimad_df

In [10]:
path = "../data/dbo.bicimad_stations.csv"
bicimad_df = data_adquisition_csv(path)
display(bicimad_df)

,id,name,address,dock_bikes,free_bases,geometry_coordinates
0,1,Puerta del Sol A,Puerta del Sol nº 1,15,11,"[-3.7018341, 40.4172137]"
1,2,Puerta del Sol B,Puerta del Sol nº 1,22,4,"[-3.701602938060457, 40.41731271011562]"
2,3,Miguel Moya,Calle Miguel Moya nº 1,12,11,"[-3.7058415, 40.4205886]"
3,4,Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,4,11,"[-3.7069171, 40.4302937]"
4,5,Malasaña,Calle Manuela Malasaña nº 5,12,12,"[-3.7025875, 40.4285524]"
...,...,...,...,...,...,...
259,266,Ciudad Universitaria 1,Avenida de la Complutense (Metro Ciudad Univer...,0,24,"[-3.72699, 40.44375]"
260,267,Ciudad Universitaria 2,Avenida de la Complutense (Metro Ciudad Univer...,12,12,"[-3.72693, 40.44342]"
261,268,Facultad Biología,Calle José Antonio Novais frente al nº 12,9,14,"[-3.7272945, 40.4483322]"
262,269,Facultad Derecho,Avenida Complutense nº 23,5,18,"[-3.72937, 40.45109]"
263,270,Zurbano,Calle Zurbano nº 90,6,15,"[-3.69281, 40.43837]"

In [12]:
def split_lat_long_and_cleaning(bicimad_df):
    bicimad_df[['location.longitude','location.latitude']] = bicimad_df['geometry_coordinates'].str.split(',',expand=True)
    bicimad_df['location.longitude'] = bicimad_df['location.longitude'].str.replace("[","")
    bicimad_df['location.latitude'] = bicimad_df['location.latitude'].str.replace("]","")
    bicimad_df = bicimad_df.astype({'location.latitude': float, 'location.longitude': float})
    new_bicimad_df = bicimad_df.loc[:,['id','name','address','dock_bikes','free_bases','location.longitude','location.latitude']]
    return bicimad_df

In [14]:
bicimad_cleaned_df = split_lat_long_and_cleaning(bicimad_df)
add_key_column(bicimad_cleaned_df)
display (bicimad_cleaned_df)

,id,name,address,dock_bikes,free_bases,geometry_coordinates,location.longitude,location.latitude,key
0,1,Puerta del Sol A,Puerta del Sol nº 1,15,11,"[-3.7018341, 40.4172137]",-3.701834,40.417214,1
1,2,Puerta del Sol B,Puerta del Sol nº 1,22,4,"[-3.701602938060457, 40.41731271011562]",-3.701603,40.417313,1
2,3,Miguel Moya,Calle Miguel Moya nº 1,12,11,"[-3.7058415, 40.4205886]",-3.705842,40.420589,1
3,4,Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,4,11,"[-3.7069171, 40.4302937]",-3.706917,40.430294,1
4,5,Malasaña,Calle Manuela Malasaña nº 5,12,12,"[-3.7025875, 40.4285524]",-3.702587,40.428552,1
...,...,...,...,...,...,...,...,...,...
259,266,Ciudad Universitaria 1,Avenida de la Complutense (Metro Ciudad Univer...,0,24,"[-3.72699, 40.44375]",-3.726990,40.443750,1
260,267,Ciudad Universitaria 2,Avenida de la Complutense (Metro Ciudad Univer...,12,12,"[-3.72693, 40.44342]",-3.726930,40.443420,1
261,268,Facultad Biología,Calle José Antonio Novais frente al nº 12,9,14,"[-3.7272945, 40.4483322]",-3.727295,40.448332,1
262,269,Facultad Derecho,Avenida Complutense nº 23,5,18,"[-3.72937, 40.45109]",-3.729370,40.451090,1
263,270,Zurbano,Calle Zurbano nº 90,6,15,"[-3.69281, 40.43837]",-3.692810,40.438370,1

In [16]:
def to_mercator(lat, long):
    # transform latitude/longitude data in degrees to pseudo-mercator coordinates in metres
    c = gpd.GeoSeries([Point(lat, long)], crs=4326)
    c = c.to_crs(3857)
    return c

In [19]:
def apply_mercator_to_df(df):
    df['mercator'] = df.apply(lambda df: to_mercator(df['location.latitude'],df['location.longitude']), axis = 1)
    return df['mercator']

In [20]:
apply_mercator_to_df(bicimad_cleaned_df)
display (bicimad_cleaned_df)

,id,name,address,dock_bikes,free_bases,geometry_coordinates,location.longitude,location.latitude,key,mercator
0,1,Puerta del Sol A,Puerta del Sol nº 1,15,11,"[-3.7018341, 40.4172137]",-3.701834,40.417214,1,POINT (4499223.648366921 -412373.2851572837)
1,2,Puerta del Sol B,Puerta del Sol nº 1,22,4,"[-3.701602938060457, 40.41731271011562]",-3.701603,40.417313,1,POINT (4499234.670122574 -412347.498528782)
2,3,Miguel Moya,Calle Miguel Moya nº 1,12,11,"[-3.7058415, 40.4205886]",-3.705842,40.420589,1,POINT (4499599.340516399 -412820.3206106317)
3,4,Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,4,11,"[-3.7069171, 40.4302937]",-3.706917,40.430294,1,POINT (4500679.707306497 -412940.3068148255)
4,5,Malasaña,Calle Manuela Malasaña nº 5,12,12,"[-3.7025875, 40.4285524]",-3.702587,40.428552,1,POINT (4500485.866677178 -412457.3286497012)
...,...,...,...,...,...,...,...,...,...,...
259,266,Ciudad Universitaria 1,Avenida de la Complutense (Metro Ciudad Univer...,0,24,"[-3.72699, 40.44375]",-3.726990,40.443750,1,POINT (4502177.655770458 -415179.5220676512)
260,267,Ciudad Universitaria 2,Avenida de la Complutense (Metro Ciudad Univer...,12,12,"[-3.72693, 40.44342]",-3.726930,40.443420,1,POINT (4502140.920338497 -415172.8287427764)
261,268,Facultad Biología,Calle José Antonio Novais frente al nº 12,9,14,"[-3.7272945, 40.4483322]",-3.727295,40.448332,1,POINT (4502687.743941171 -415213.4906984274)
262,269,Facultad Derecho,Avenida Complutense nº 23,5,18,"[-3.72937, 40.45109]",-3.729370,40.451090,1,POINT (4502994.74083288 -415445.0243226733)
263,270,Zurbano,Calle Zurbano nº 90,6,15,"[-3.69281, 40.43837]",-3.692810,40.438370,1,POINT (4501578.756909991 -411366.6317244973)

In [21]:
apply_mercator_to_df(concatenated_df)
display (concatenated_df)

,id,title,address.locality,address.postal-code,address.street-address,location.latitude,location.longitude,key,mercator
0,58241,Escuela infantil municipal Agua Dulce,MADRID,28039,CALLE LEÑEROS 25,40.454061,-3.709371,1,POINT (4503325.457708918 -413214.0871607283)
1,4549323,Escuela infantil municipal Altair,MADRID,28044,CALLE JOSE DE CADALSO 43,40.378132,-3.768701,1,POINT (4494873.081456062 -419832.6705785314)
2,5299172,Escuela infantil municipal Amanecer,MADRID,28032,CALLE TITANIO 7,40.401990,-3.601044,1,POINT (4497528.948937292 -401130.596425248)
3,5633312,Escuela infantil municipal Ana de Austria,MADRID,28050,CALLE ANA DE AUSTRIA 32,40.495522,-3.655737,1,POINT (4507940.837033544 -407231.1670990717)
4,4724002,Escuela infantil municipal Campanilla,MADRID,28020,CALLE AVILA 4,40.452700,-3.701998,1,POINT (4503174.019987035 -412391.5771022496)
...,...,...,...,...,...,...,...,...,...
243,5326,Colegio Público Virgen del Cortijo,MADRID,28050,AVENIDA MANOTERAS 63,40.487254,-3.660022,1,POINT (4507020.494757262 -407709.1747154693)
244,5319,Colegio Público Vázquez de Mella,MADRID,28005,CALLE BAILEN 18,40.412095,-3.713999,1,POINT (4498653.885099497 -413730.2642768721)
245,4690940,Colegio Público Winston Churchill,MADRID,28032,AVENIDA GRAN VIA DEL ESTE 5,40.402966,-3.595314,1,POINT (4497637.552307622 -400491.4291664587)
246,5096,Colegio Público de Practicas Asunción Rincón,MADRID,28003,AVENIDA FILIPINAS 5,40.439916,-3.710968,1,POINT (4501750.852518209 -413392.1668429679)
247,4690849,Colegio Público Álvaro de Bazan,MADRID,28022,CALLE ZURICH 10,40.421543,-3.607242,1,POINT (4499705.618399205 -401821.8746131732)